.taskDiv{
    border: solid red 5px;
    margin:10px 10px 10px 10px;
    padding-left: 5px;
  }
.delButton{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 15px 5px 15px;
}
.newAdd{
  margin:10px 10px 10px 10px;
  padding: 5px 15px 5px 15px;
}
.newAdd:hover{
  background-color: blue;
  color: white;
}
.Input{
  margin:10px 10px 10px 10px;
}
.tasksDiv{
  display: flex;
  flex-wrap: wrap;
}
.buttonRemoveAll{
  margin:10px 10px 10px 10px;
  padding: 5px 15px 5px 15px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newInput{
  width: 150px;
  height: 22px;
}
.newSave{
  margin:10px 10px 10px 10px;
  padding: 5px 15px 5px 15px;
}
.newEdit{
  margin:10px 10px 10px 10px;
  padding: 5px 15px 5px 15px;
}
.newCancel{
  margin:10px 10px 10px 10px;
  padding: 5px 15px 5px 15px;
}
.newCancel:hover{
  background-color: blue;
  color: white;
}
.newSave:hover{
  background-color: blue;
  color: white;
}
.buttonRemoveAll:hover{
  background-color: blue;
  color: white;
}
.delButton:hover{
  background-color: blue;
  color: white;
}
.newEdit:hover{
  background-color: blue;
  color: white;
}